<html>
<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body>
<div class="topbar-lecture">
<div class="logo-div">
<a href="#" class="logo-link"></a>
</div>
</div>

<div class="topbanner">
<div class="topbanner-left"><a class="tbleft-anchor" href="#">Computer Science</a>
</div>
<div class="topbanner-right">
<div class="tbright-top">Algorithms</div>
<div class="tbright-bottom">By- Jinhui Xu</div>
</div>
</div>

<div class="full-body">
<div class="nav-bar">
<ul class="nav-bar-list">
<li class="nav-bar-item"> <a class="list-link" href="#">one</a></li>
<li class="nav-bar-item"><a class="list-link" href="#">two</a></li>
<li class="nav-bar-item"><a class="list-link" href="#">three</a></li>
<li class="nav-bar-item"><a class="list-link" href="#">four</a></li>
<li class="nav-bar-item"><a class="list-link" href="#">five</a></li>
</ul>
</div>

<div class="lecture-body">
<h2 class="top-video-heading">Video Lectures</h2>
<hr></hr>

<div>
<h3>
<span class="arrow-hor"> </span>Introduction and course overview
</h3>
</div>

</div>

</div>
</body>
</html>
